{% extends 'index2.html' %}
{% block titulo %} Agregar {% endblock %}
{% block contenido %}
<div class="card col-md-4 offset-md-4 mt-5" >
    <div class="card-body">
        <h4 class="card-title" align="center">Agregar nuevo producto</h4>
    </div>
    <form enctype="multipart/form-data" method="POST" >
        <div class="container-fluid">
            <div class="row" id="map_section">
                <div class="col-12">
                {% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-primary alert-dismissible" role="alert">
                    <div id="form_errors">
                        {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong>
                        {% endfor %}
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <div class="block">
                <label for="producto"><b>Producto:</b></label>
                {{ form.producto }}
            </div>
                <br>
            <div class="block ">
                <label for="Tipo2"><b>Tipo:</b></label>
                {{ form.Tipo2 }}
            </div>
            
                <br>
            <div class="block ">
                <label for="precio_entrada"><b>Valor entrada:</b></label>
                {{ form.precio_entrada }} 
            </div>
                <br>
            <div class="block ">
                <label for="precio_salida"><b>Valor venta:</b></label>
                {{ form.precio_salida }} 
            </div>
                <br>
            <div class="block ">
                <label for="distribuidor"><b>Distribuidor:</b></label>
                {{ form.Distribuidor }} 
            </div>
                <br>
            <div class="block ">
                <label for="distribuidor"><b>Marca:</b></label>
                {{ form.Marca }} 
            </div>
                    <br>
            <div class="block ">
                <label for="facturas"><b>Factura:</b></label>
                {{ form.facturas }} 
            </div>
                <br>
            <div class="block ">
                <label for="date"><b>Fecha de vencimiento:</b></label>
                <br>
                <div class="col-sm-4">
                    <div class="input-group date" id="datetimepicker1">
                    {{ form.fecha_vencimiento }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar">
                        </span>
                    </span>
                    </div>
                </div> 
            </div>
                <br>
                <br>
            <div class="block ">
                <label for="cantidad"><b>Cantidad:</b></label>
                {{ form.cantidad }} 
            </div>
                <br>
          <div class="gap-3 d-md-flex justify-content-md-left mb-3">
            <p><input class="btn btn-primary" name="submit" type="submit" value="Guardar"></p>
            <p><input class="btn btn-primary" name="reset" type="reset" value="Restaurar"></p>
          </div>
          
          </div>
        </div>
      </div>   
    </form>
  </div>
  <script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
        });
    });
 </script>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
    </script>  

    {% endblock %}